<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>create recipe</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
        th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

  <script
      src="https://code.jquery.com/jquery-1.11.1.min.js"
      crossorigin="anonymous" th:src="@{/webjars/jquery/jquery.min.js}"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
          integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
          crossorigin="anonymous" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <!--The important line associated with controller-->
      <form th:object="${recipeCommand}" th:action="@{/recipe}" action="#" method="post">

        <div th:if="${#fields.hasErrors()}" class="alert alert-danger">
          <p>Please correct Errors below</p>
        </div>

        <!--This is used for update existing recipe-->
        <input type="hidden" th:field="*{id}"/>
        <div class="panel-group">
          <!--Basic Properties-->
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h1 class="panel-title">Edit Recipe Information</h1>
            </div>
            <div class="panel-body">
              <!--row1: description-->
              <div class="row">
                <div class="col-md-8 form-group"
                     th:class="${#fields.hasErrors('description')} ? 'col-md-8 form-group has-error' : 'col-md-8 form-group'">
                  <label th:text="#{recipeCommand.description}">Recipe Description:</label>
                  <textarea class="form-control" th:field="*{description}" rows="10"
                            th:errorclass="has-error"></textarea>
                  <span class="help-block" th:if="${#fields.hasErrors('description')}">
                    <ul>
                      <li th:each="err : ${#fields.errors('description')}" th:text="${err}"></li>
                    </ul>
                  </span>
                </div>
                <div class="col-md-4" align="center">
                  <div class="row">
                    <img src="../../static/resources/images/guacamole400x400WithX.jpg"
                         th:src="@{'/recipe/' + ${recipeCommand.id} + '/image/show'}"
                         width="200" height="200"/>
                  </div>
                  <div class="row">
                    <a href="#" role="button" class="btn btn-default btn-sm" style="margin-top: 5px"
                       th:href="@{'/recipe/' + ${recipeCommand.id} + '/image'}">Change Image</a>
                  </div>
                </div>
              </div>
              <!--row2: categories-->
              <div class="row">
                <div class="col-md-3 form-group">
                  <label>Categories:</label>
                </div>
                <div class="col-md-9 form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value=""/>
                      Cat 1
                    </label>
                  </div>
                  <div class="checkbox" th:remove="all">
                    <label>
                      <input type="checkbox" value=""/>
                      Cat 2
                    </label>
                  </div>
                </div>
              </div>
              <!--row3: PrepTime, CookTime, Difficulty-->
              <div class="row">
                <div class="col-md-3 form-group"
                     th:class="${#fields.hasErrors('prepTime') ? 'col-md-3 form-group has-error' : 'col-md-3 form-group'}">
                  <label>Prep Time:</label>
                  <input type="text" class="form-control" th:field="*{prepTime}" th:errorclass="has-error"/>
                  <span class="help-block" th:if="${#fields.hasErrors('prepTime')}">
                    <ul>
                      <li th:each="err : ${#fields.errors('prepTime')}" th:text="${err}"></li>
                    </ul>
                  </span>
                </div>
                <div class="col-md-3 form-group"
                     th:class="${#fields.hasErrors('cookTime') ? 'col-md-3 form-group has-error' : 'col-md-3 form-group'}">
                  <label>Cook Time:</label>
                  <input type="text" class="form-control" th:field="*{cookTime}" th:errorclass="has-error"/>
                  <span class="help-block" th:if="${#fields.hasErrors('cookTime')}">
                    <ul>
                      <li th:each="err : ${#fields.errors('cookTime')}" th:text="${err}"></li>
                    </ul>
                  </span>
                </div>
                <div class="col-md-3 form-group">
                  <label>Difficulty:</label>
                  <select class="form-control">
                    <option>EASY</option>
                    <option>MEDIUM</option>
                    <option>HARD</option>
                  </select>
                </div>
              </div>
              <!--row4: Servings, Source, URL-->
              <div class="row">
                <div class="col-md-3 form-group"
                     th:class="${#fields.hasErrors('servings') ? 'col-md-3 form-group has-error' : 'col-md-3 form-group'}">
                  <label>Servings:</label>
                  <input type="text" class="form-control" th:field="*{servings}" th:errorclass="has-error"/>
                  <span class="help-block" th:if="${#fields.hasErrors('servings')}">
                    <ul>
                      <li th:each="err : ${#fields.errors('servings')}" th:text="${err}"></li>
                    </ul>
                  </span>
                </div>
                <div class="col-md-3 form-group">
                  <label>Source:</label>
                  <input type="text" class="form-control" th:field="*{source}"/>
                </div>
                <div class="col-md-3 form-group"
                     th:class="${#fields.hasErrors('url') ? 'col-md-3 form-group has-error' : 'col-md-3 form-group'}">
                  <label>URL:</label>
                  <input type="text" class="form-control" th:field="*{url}" th:errorclass="has-error"/>
                  <span class="help-block" th:if="${#fields.hasErrors('url')}">
                    <ul>
                      <li th:each="err : ${#fields.errors('url')}" th:text="${err}"></li>
                    </ul>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <!--Ingredients-->
          <div class="panel panel-primary">
            <div class="panel-heading">
              <div class="row">
                <div class="col-md-11">
                  <h1 class="panel-title">Ingredients</h1>
                </div>
                <div class="col-md-1">
                  <a class="btn btn-default btn-sm" href="#" role="button"
                     th:href="@{'/recipe/' + ${recipeCommand.id} + '/ingredients'}">View</a>
                </div>
              </div>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-12">
                  <!--could not use *{...} inside ${...}-->
                  <ul th:if="${not #lists.isEmpty(recipeCommand.ingredients)}">
                    <li th:remove="all">1 Cup of milk</li>
                    <li th:remove="all">1 Teaspoon of chocolate</li>
                    <li th:each="ingredient : *{ingredients}"
                        th:text="${ingredient.amount + ' ' + ingredient.unitOfMeasure.description + ' - ' +
                        ingredient.description}">
                      1 Teaspoon of Sugar
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!--Directions-->
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h1 class="panel-title">Directions</h1>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-12 form-group">
                  <textarea class="form-control" rows="3" th:field="*{directions}"></textarea>
                </div>
              </div>
            </div>
          </div>
          <!--Notes-->
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h1 class="panel-title">Notes</h1>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-12 form-group">
                  <!--notes is of type NotesCommand, need use nested property notes.recipeNotes-->
                  <textarea class="form-control" rows="3" th:field="*{notes.recipeNotes}"></textarea>
                </div>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary pull-right"
                  style="margin-top: 8px; margin-bottom: 20px">Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>